<div class="box">

    <table>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>USER-NAME</th>
          <th>EMAIL</th>
          <th>ACTIONS</th>
        </tr>
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.name}}</td>
          <td>{{post.username}}</td>
          <td>{{post.email}}</td>
          <td>
            <button><i class="ri-pencil-fill"></i></button>
            <button style="margin-left: 8px;" (click)="deleteItem(post.id)"><i class="ri-delete-bin-6-fill"></i></button>
          </td>
        </tr>
        
      </table>
</div>
