<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col d-flex justify-content-between flex-row text-white p-4">
      <h1></h1>
      <h1>{{ title }}</h1>
      <button class="button-33" [hidden]="flag" (click)="toggel()">Add</button>
      <button class="button-33" [hidden]="!flag" (click)="toggel()">
        Show
      </button>
    </div>
  </div>

  <!-- form -->
  <div class="row holder">
    <div class="col-12" id="form" [hidden]="!flag">
      <div class="form-body">
        <div class="row">
          <div class="form-holder">
            <div class="form-content">
              <div class="form-items">
                <h3>Register Today</h3>
                <p>Fill in the data below.</p>
                <form
                  class="requires-validation"
                  novalidate
                  [formGroup]="userForm"
                >
                  <div class="col-md-12" id="id-num">
                    <input
                      class="form-control"
                      type="number"
                      name="id"
                      placeholder="idnumber"
                      required
                      formControlName="idNum"
                      [(ngModel)]="idNum"
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      class="form-control"
                      type="text"
                      name="name"
                      placeholder="Full Name"
                      required
                      formControlName="name"
                    />
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls?.['name']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls?.['name']?.errors?.['required']"
                    >
                      Name is required
                    </div>
                  </div>

                  <!-- email -->
                  <div class="col-md-12">
                    <input
                      class="form-control"
                      type="email"
                      name="email"
                      placeholder="E-mail Address"
                      required
                      formControlName="email"
                      required
                    />
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls?.['email']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls?.['email']?.errors?.['required']"
                    >
                      Email is required
                    </div>
                    <div
                      *ngIf="userForm.controls?.['email']?.errors?.['email']"
                    >
                      Enter a valid email
                    </div>
                  </div>

                  <!-- number -->
                  <div class="col-md-12">
                    <input
                      class="form-control"
                      type="number"
                      name="number"
                      placeholder="Phone no."
                      required
                      formControlName="phone"
                    />
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls?.['phone']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls?.['phone']?.errors?.['required']"
                    >
                      Email is required
                    </div>
                    <div
                      *ngIf="userForm.controls?.['phone']?.errors?.['pattern']"
                    >
                      Enter a valid number
                    </div>
                  </div>

                  <!-- position -->
                  <div class="col-md-12">
                    <select
                      class="form-select mt-3"
                      required
                      formControlName="position"
                      value="position"
                    >
                      <option selected disabled value="">Position</option>
                      <option value="Junior Web Developer">
                        Junior Web Developer
                      </option>
                      <option value="Senior Web Developer">
                        Senior Web Developer
                      </option>
                      <option value="Project Manager">Project Manager</option>
                    </select>
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['position']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['position']?.errors?.['required']"
                    >
                      Position is required
                    </div>
                  </div>

                  <div class="col-md-12">
                    <select
                      class="form-select mt-3"
                      required
                      formControlName="state"
                      value="state"
                      [(ngModel)]="state"
                      (change)="getCity(state, 'city-ele')"
                    >
                      <option selected disabled value="">State</option>
                      <option *ngFor="let item of stateData">
                        {{ item.state }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['state']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['state']?.errors?.['required']"
                    >
                      State is required
                    </div>
                  </div>

                  <!-- city -->
                  <div class="col-md-12" id="city-ele" style="display: none">
                    <select
                      class="form-select mt-3"
                      required
                      value="city"
                      formControlName="city"
                    >
                      <option selected disabled value="">City</option>
                      <option *ngFor="let item of cityArr | keyvalue">
                        {{ item.value }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['city']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['city']?.errors?.['required']"
                    >
                      City is required
                    </div>
                  </div>

                  <div class="col-md-12">
                    <input
                      class="form-control"
                      type="text"
                      name="street"
                      placeholder="street Address"
                      required
                      formControlName="street"
                      required
                    />
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['street']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['street']?.errors?.['required']"
                    >
                      Street address is required
                    </div>
                  </div>

                  <div class="col-md-12">
                    <input
                      class="form-control"
                      type="number"
                      name="zip"
                      placeholder="pin code"
                      required
                      formControlName="zip"
                    />
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['zip']?.touched"
                  >
                    <div *ngIf="userForm.controls['zip']?.errors?.['required']">
                      Pin-Code is required
                    </div>
                    <div *ngIf="userForm.controls['zip']?.errors?.['pattern']">
                      Enter a valid Pin-Code number
                    </div>
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control text-area"
                      formControlName="address"
                      placeholder="Enter your address"
                    ></textarea>
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['address']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['address']?.errors?.['required']"
                    >
                      Address is required
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="mb-3 me-2" for="gender">Gender:</label>

                    <input
                      type="radio"
                      class="btn-check"
                      name="gender"
                      id="male"
                      autocomplete="off"
                      required
                      value="Male"
                      formControlName="gender"
                    />
                    <label
                      class="btn btn-sm btn-outline-secondary me-2"
                      for="male"
                      >Male</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="gender"
                      id="female"
                      autocomplete="off"
                      required
                      value="Female"
                      formControlName="gender"
                    />
                    <label
                      class="btn btn-sm btn-outline-secondary me-2"
                      for="female"
                      >Female</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="gender"
                      id="secret"
                      autocomplete="off"
                      required
                      value="Secret"
                      formControlName="gender"
                    />
                    <label class="btn btn-sm btn-outline-secondary" for="secret"
                      >Secret</label
                    >
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['gender']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['gender']?.errors?.['required']"
                    >
                      Gender is required
                    </div>
                  </div>

                  <!-- chekbox -->
                  <div class="col-md-12 mt-3">
                    <input
                      type="checkbox"
                      class="check-box"
                      formControlName="termtick"
                    />
                    <label for="" class="ms-3"
                      >I agree to the
                      <a href="#">Terms and condintions</a></label
                    >
                  </div>
                  <div
                    class="error text-danger"
                    *ngIf="userForm.controls['termtick']?.touched"
                  >
                    <div
                      *ngIf="userForm.controls['termtick']?.errors?.['required']"
                    >
                      Please read terms and condintions.
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    <input
                      type="checkbox"
                      class="check-box"
                      formControlName="feedback"
                      (click)="feedbacktoggel()"
                    />
                    <label for="" class="ms-3"
                      >YES</label
                    >
                    <input
                      type="checkbox"
                      class="check-box ms-4"
                      formControlName="feedback"
                    />
                    <label for="" class="ms-3"
                      >NO</label
                    >
                  </div>
                  <div class="col-md-12" [hidden]="feedTrack">
                    <textarea
                      class="form-control text-area"
                      formControlName="feedText"
                      placeholder="Enter your feedback please"
          
                    ></textarea>
                  </div>

                  

                  <div class="form-button mt-3">
                    <button
                      id="submit"
                      type="submit"
                      class="btn btn-success"
                      [disabled]="!userForm.valid"
                      [hidden]="trackBtn"
                      (click)="onRegister()"
                      (click)="toggel()"
                    >
                      Register
                    </button>
                  </div>

                  <div class="form-button mt-3">
                    <button
                      id="submit"
                      (click)="update()"
                      (click)="toggel()"
                      class="btn btn-success"
                      [disabled]="!userForm.valid"
                      [hidden]="!trackBtn"
                    >
                      Update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="col-12" id="table" [hidden]="flag">
      <div class="table-cont">
        <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone no.</th>
            <th>Gender</th>
            <th>Position</th>
            <th>State</th>
            <th>City</th>
            <th>Street</th>
            <th>Pin Code</th>
            <th>Address</th>
            <th>Feedback</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let item of temp">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>male</td>
            <td>{{ item.position }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.street }}</td>
            <td>{{ item.zip }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.feedText }}</td>
            <td>
              <button
                class="button-33 mb-3"
                (click)="edit(item.idNum)"
                (click)="toggel()"
              >
                edit</button
              ><br />
              <button class="button-33 del" (click)="remove({item})">
                del
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- success modal -->
  <div class="success-box" id="suc-box">
    <p>Successful ✓</p>
  </div>
</div>
