<div class="navbar">
   <div class="item">
    <p>serivices</p>
    <ul style="display: none;">
        <li>
            <a href="">App Devlopment</a>
        </li>
        <li>
            <a href="">Web Devlopment</a>
        </li>
        <li>
            <a href="">Software Devlopment</a>
        </li>
        <li>
            <a href="">BlockChain</a>
        </li>
    </ul>
   </div>
   <div class="item">
    <p>Contact Us</p>
    <ul style="display: none;">
        <li>
            <a href="">App Devlopment</a>
        </li>
        <li>
            <a href="">Web Devlopment</a>
        </li>
        <li>
            <a href="">Software Devlopment</a>
        </li>
        <li>
            <a href="">BlockChain</a>
        </li>
    </ul>
   </div>
   <div class="item">
    <p>About Us</p>
    <ul style="display: none;" class="itemul">
        <li>
            <a href="">App Devlopment</a>
        </li>
        <li>
            <a href="">Web Devlopment</a>
        </li>
        <li>
            <a href="">Software Devlopment</a>
        </li>
        <li>
            <a href="">BlockChain</a>
        </li>
    </ul>
   </div>
</div>
