*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}
.f1{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(0, 0, 0,0.5);
}
#navbar{
    background-color: rgb(49, 18, 127);
}
.icon-container{
    border-bottom: 1px solid white;
}
.icons{
    cursor: pointer;
}
.burger{
    font-size: 2.4rem;
    font-weight: 900;
    color: white;
}
.list-group-item{
    background-color: rgb(49, 18, 127);
    border: none;
    margin-top: 8px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.list-group-item:hover{
    color: rgb(225, 225, 225,0.9);
}



/* for main container wher charts are placed */
#horiNav{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputContainer{
    /* border: 1px solid red; */
    background-color: rgba(223, 222, 222,0.4);
    border-radius: 20px;
}
.halfNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#horiNav input{
    border-radius: 20px;
    background-color: rgba(223, 222, 222,0);
    border: none;
}
#horiNav input::placeholder{
    /* font-weight: 600; */
    color: rgb(0, 0, 0,0.7);
}
#horiNav input:focus{
    outline: none;
}
.logoname{
    font-size: 2rem;
    font-weight: 600;
}

.bell{
    position: relative;
    cursor: pointer;
}
.chat{
    position: relative;
    cursor: pointer;
}
.chat::after{
    content: "1";
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(49, 18, 127,0.8);
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: 15px;
    right: -15px;
}
.bell::after{
    content: "5";
    font-size: 15px;
    color: white;
    text-align: center;
    background-color:rgb(255, 0, 0,0.8);
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: 15px;
    right: -12px;
}

.profile{
    cursor: pointer;
    width: 46px;
    border-radius: 50%; 
    background-image: url('images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}




/* first chart */
#chartdiv{
    width: 100%;
    height: 250px;
  }

.btn-cont{
    font-size: 14px;
}

/* third chart */
.chart3_cont{
    border-left: 1px solid black;
    padding-left: 20px;
}

/* media query for some cases */
