<section class="dashboard">
  <div class="container-fluid">
    <!-- navbar start-->
    <div class="row p-4 bg-dark">
      <div class="col d-flex justify-content-between">
        <div class="blog">
          <a href="" class="text-white fs-4">Blog</a>
        </div>
        <div class="user d-flex text-white">
          <div class="name mx-2 fs-4">Raj</div>
          <div class="out mx-2 fs-4">Logout</div>
        </div>
      </div>
    </div>
    <!-- navbar end -->

    <div class="row">
      <div class="col-5">
        <form action="">
          <div class="d-flex flex-column">
            <div class="text">
              <textarea name="" id="" cols="30" rows="10" class="px-4"></textarea>
            </div>
            <button
              type="submit"
              class="p-2 mt-4  actionBtn"
              style="max-width: 10vw"
            >
              Post
            </button>
          </div>
        </form>
      </div>

      <div class="col-6">
        <div class="card" style="min-height: 8vw;">
          <p>yhan par text aye ga</p>
        </div>
        <div class="action">
          <button class="actionBtn p-2 me-4">Edit</button>
          <button class="actionBtn bg-danger p-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
</section>
