<section class="dashboard">
  <div class="container-fluid">
    <!-- navbar start-->
    <div class="row p-4 bg-dark">
      <div class="col d-flex justify-content-between">
        <div class="blog">
          <a href="" class="text-white fs-4">Blog</a>
        </div>
        <div class="user d-flex text-white">
          <div class="name mx-2 fs-4">Raj</div>
          <div class="out mx-2 fs-4">Logout</div>
        </div>
      </div>
    </div>
    <!-- navbar end -->

    <div class="row justify-content-around">
      <div class="col-5">
        <h2 class="text-center p-2">Create your BLOG</h2>
        <form action="">
          <div class="d-flex flex-column card post-card">     
            <div class="text">
              <textarea name="" id="" cols="30" rows="10" class="p-4"></textarea>
            </div>
            <button
              type="submit"
              class="p-2 mt-4  actionBtn"
              style="max-width: 10vw"
            >
              Post
            </button>
          </div>
        </form>
      </div>

      <div class="col-6">
        <h2 class="text-center p-2">Your BLOGS</h2>
        <div class="card-cont p-4">
          <div class="card ownBlog">
            <p>yhan par text aye lorem60 ga</p>
            <div class="action">
              <button class="actionBtn p-2 me-4 mt-2">Edit</button>
              <button class="actionBtn danger p-2 mt-2">Delete</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
