<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-around bg-dark p-4">
        <div class="Show"  [ngStyle]="{ 'transform' : (show==false) ? 'translateY(-100px)' : '' }">
          <p class="text-black m-0">Submit successfully</p>
      </div>

        <div class="title text-white">
          <h1 class="border-bottom">Record-Data App</h1>
        </div>

        <div *ngIf="flag; else elseBlock">
          <button (click)="toggel()" class="button-75">Add</button>
        </div>
        <ng-template class="btn" #elseBlock>
          <div>
            <button (click)="toggel()" class="button-75">Show</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>
<!-- form -->
<section class="form" *ngIf="!flag; else tableBlock">
  <div class="container-fluid">
    <form action="" #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
      <!-- main form  strt-->
      <div
        class="main"
      >
        <div class="row pt-4 justify-content-around align-items-center">
          <div class="col-2">
            <label for="">Name:</label> <br />
            <input
              type="text"
              #name="ngModel"
              name="name"
              placeholder="enter your name"
              [(ngModel)]="formData.name"
              required
            />
            <div *ngIf="!name?.valid && name?.touched" class="text-danger">
              Please enter your name
            </div>
          </div>
          <div class="col-2">
            <label for="">Class:</label> <br />
            <input
              type="text"
              name="class"
              placeholder="enter your class name"
              [(ngModel)]="formData.className"
              required
              #class="ngModel"
            />
            <div *ngIf="!class?.valid && class?.touched" class="text-danger">
              Please enter your class name
            </div>
          </div>
          <div class="col-2">
            <label for="">Section:</label> <br />
            <input
              type="text"
              name="section"
              placeholder="enter your section"
              [(ngModel)]="formData.section"
              required
              #section="ngModel"
            />
            <div
              *ngIf="!section?.valid && section?.touched"
              class="text-danger"
            >
              Please enter your section
            </div>
          </div>
          <div class="col-2" *ngIf="updTrack; else updBlock">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="userForm.invalid"
            >
              Submit
            </button>
          </div>

          <ng-template #updBlock>
            <div class="col-2">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="userForm.invalid"
              >
                Update
              </button>
            </div>
          </ng-template>
        </div>
        <!-- main form end -->
     
        <div class="container mt-5 pb-5">
          <div class="row">
            <div class="col p-2">
              <h3>
                <span class="border-bottom border-3 border-dark"
                  >Student Project Details:</span
                >
              </h3>
            </div>
          </div>

          <div class="row mt-4 flex-wrap" id="card-cont">
            <div
              class="col-4 mt-3 justify-content-center"
              ngModelGroup="proDetail"
              
              *ngFor="
                let ele of formData.proDetail;
                let proindex = index;
                trackBy: track
              "
              
            >
              <div class="card">
                <div class="card-body d-flex flex-column">
                  <label class="mb-2" for="">Project Name:</label>
                  <input
                    class="mt-2 rounded"
                    type="text"
                    name="pro_{{ proindex }}"
                    placeholder="enter your project name"
                    [(ngModel)]="ele.proname"
                    required
                    #proname="ngModel"
                  />
                  <div
                    *ngIf="!proname?.valid && proname?.touched"
                    class="text-danger"
                  >
                    Please enter your project name
                  </div>

                  <label class="mt-2" for="">Marks:</label>
                  <input
                    class="mt-2 rounded"
                    type="number"
                    oninput="this.value = Math.abs(this.value)"
                    name="marks_{{ proindex }}"
                    placeholder="enter your Marks"
                    [(ngModel)]="ele.marks"
                    required
                    #marks="ngModel"
                  />
                  <div
                    *ngIf="!marks?.valid && marks?.touched"
                    class="text-danger"
                  >
                    Please enter your Marks
                  </div>

                  <label class="mt-2" for="">Term:</label>
                  <input
                    class="mt-2 rounded"
                    type="text"
                    name="term_{{ proindex }}"
                    placeholder="enter your Term"
                    [(ngModel)]="ele.term"
                    required
                    #term="ngModel"
                  />
                  <div
                    *ngIf="!term?.valid && term?.touched"
                    class="text-danger"
                  >
                    Please enter your term
                  </div>

                  <button
                    class="btn btn-success mt-4"
                    type="button"
                    (click)="handleClick(mainIndex, userForm.valid)"
                    [disabled]="userForm.invalid"
                  >
                    Add More
                  </button>

                  <button
                    class="btn btn-danger mt-4"
                    type="button"
                    (click)="delMore(proindex, mainIndex)"
                    *ngIf="proindex != 0"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- form end -->

<ng-template #tableBlock>
  <!-- table start -->
  <section>
    <div class="container mt-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData; let itemIndex = index">
            <td>{{ item.name }}</td>
            <td>{{ item.className }}</td>
            <td>{{ item.section }}</td>
            <td class="d-flex">
              <button
                class="btn btn-success ps-2 pe-2 me-2"
                (click)="edit(itemIndex)"
              >
                Edit
              </button>
              <button
                class="btn btn-danger ps-2 pe-2 ms-2"
                (click)="remove(itemIndex)"
              >
                Del
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- table end -->
</ng-template>
